.panels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

textarea {
  all: unset;
  padding: 1rem;
  resize: inherit;
  font-family: 'Source Code Pro', monospace;
  font-size: inherit;
  background-color: #eee;
}

.panel {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
}

.preview-panel {
  max-width: 100%;
  overflow-x: hidden;

  // Copied from https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

.app-title {
  text-align: center;
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .panel {
    font-size: 1.5vw;
  }
}